@model Uygulama.Models.uygulama

@{
    ViewBag.Title = "create";
}

<h2>Yeni kullanıcı oluşturma</h2>

@using (Html.BeginForm())
{


<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div>
            <div class="col-xs-6"><input type="text" class="form-control" name="first_name1" placeholder="Ad" required></div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <div class="col-xs-6"><input type="email" class="form-control" name="mail" placeholder="E-mail" required></div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <div class="col-xs-6"><input type="text" class="form-control" name="sehir" placeholder="Şehir" required></div>
        </div>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" name="sifre" placeholder="Şifre" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="yetki" placeholder="Verilecek yetki" required>
    </div>
</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="/edit/List"> <input type="submit" value="Kayıt" class="btn btn-default" style="width:250px;height:40px; background-color:aqua; margin-top:10px; margin-left:10px" /></a>
        </div>
        @ViewBag.hata
    </div>

}


