@model Uygulama.Models.uygulama
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/edit.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <title>Giriş paneli</title>
</head>
<body style=" background: #ee768fbd;">
    <div class="wrapper fadeInDown">
        <div id="formContent" style="height:450px">
            <!-- Tabs Titles -->
            <h2 class="active"> Giriş yap </h2>
            <a href="/Register/register"> <h2 class="inactive underlineHover">Üye ol </h2></a>

            <!-- Login Form -->
            <form style="height:300px ; margin-top:30px" action="/Login/login" method="post">
                <input type="text" id="login" class="fadeIn second" name="mail" placeholder="e-posta"  style="margin-top:20px"/>
                <input type="password" id="password" class="fadeIn third" name="sifre" placeholder="Şifre"/>
                   <input type="submit" class="fadeIn fourth" value="Giriş" />
            </form>
            @ViewBag.hata

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Şifremi Unuttum</a>
            </div>

        </div>
    </div>

    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>*@
</body>
</html>