
@{
    ViewBag.Title = "Index";
}

<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
         
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="/Login/login" class="btn btn-primary btn-outline-white px-5 py-3">Giriş yap</a></p>
            </div>
        </div>
    </div>
</div>

